main{
    height: 650px;
    display: flex;
    text-align: center;
}

.landing-container{
    margin: auto;
    align-self: center;
}

.landing-container p{
    font-size: 23px;
    font-weight: 600;
    padding: 0 80px;
    margin-bottom: 10;
}

.border{
    border-radius: 25px;
    border: 2px solid black;
    height: 95px;
}
